.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: 80vh;
  margin: 50px auto;
  background-color: #fff;
  .title {
    width: 100%;
    padding: 20px;
    margin: 0 0 40px 0;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    background-color: #AF7EEB;
    text-align: center;
    text-shadow: 2px 2px 4px #6835A7;
    color: #fff;
  }
}